<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>898116005110-r79kjkvldf8decdkd1dba706kr601ndk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.898116005110-r79kjkvldf8decdkd1dba706kr601ndk</string>
	<key>API_KEY</key>
	<string>AIzaSyAnYlf2m3oUGWnt1ih8yV-1kaBhpyPf868</string>
	<key>GCM_SENDER_ID</key>
	<string>898116005110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.minhnguyen.ReamotReactNative</string>
	<key>PROJECT_ID</key>
	<string>reamot-rn</string>
	<key>STORAGE_BUCKET</key>
	<string>reamot-rn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898116005110:ios:b55cb65451df51674810d7</string>
	<key>DATABASE_URL</key>
	<string>https://reamot-rn.firebaseio.com</string>
</dict>
</plist>